## useDynLib("HAC")

## regular functions:

 export("pHAC",
	"emp.copula",
	"emp.copula.self",
	"estimate.copula",
	"tau2theta",
	"theta2tau",
	"phi",
	"phi.inv",
	"dHAC",
	"rHAC",
	"tree2str",
	"get.params",
	"hac.full",
	"hac",
	"copMult",
	"to.logLik",
	"par.pairs",
	"hac2nacopula"
)


exportClass("hac")


# definitions:

export("HAC_GUMBEL",
	"AC_GUMBEL",
	"HAC_CLAYTON",
	"AC_CLAYTON",
	"HAC_FRANK",
	"AC_FRANK",
	"HAC_JOE",
	"AC_JOE",
	"HAC_AMH",
	"AC_AMH",
	"ML",
	"FML",
	"RML"
)


# generics:
S3method(aggregate, hac)
S3method(plot, hac)
S3method(print, hac)

export("aggregate.hac", "plot.hac", "print.hac")

# imports:

importClassesFrom("copula", acopula)
importFrom("copula", copAMH, copClayton, copFrank, copGumbel, copJoe, onacopulaL, rnacopula, fitCopula, gumbelCopula, claytonCopula, frankCopula, joeCopula, amhCopula)
importFrom("graphics", plot)
importFrom("stats", aggregate, ecdf, dbeta, pbeta, dcauchy, pcauchy, dchisq, pchisq, df, pf, dgamma, pgamma, dlnorm, plnorm, dnorm, pnorm, qnorm, dt, pt, dexp, pexp, dweibull, pweibull, na.omit, D, deriv, constrOptim, optim)