## useDynLib(HAC)


## regular functions:

export("pHAC",
	"emp.copula",
	"emp.copula.self",
	"estimate.copula",
	"tau2theta",
	"theta2tau",
	"phi",
	"phi.inv",
	"dHAC",
	"rHAC",
	"tree2str",
	"get.params",
	"hac.full",
	"hac",
	"copMult",
	"to.logLik",
	"par.pairs"
)


exportClass("hac"
)


# definitions:

export("HAC_GUMBEL",
	"AC_GUMBEL",
	"HAC_CLAYTON",
	"AC_CLAYTON",
	"GAUSS",
	"TAU",
	"ML",
	"FML",
	"RML"
)


# generics:

S3method(plot, hac)

S3method(print, hac)

S3method(aggregate, hac)

export("plot.hac", "print.hac", "aggregate.hac")


# imports:

importFrom("stabledist", rstable)

importFrom("graphics", plot)

importFrom("stats", aggregate, ecdf, dbeta, pbeta, dcauchy, pcauchy, dchisq, pchisq, df, pf, dgamma, pgamma, dlnorm, plnorm, dnorm, pnorm, qnorm, dt, pt, dexp, pexp, dweibull, pweibull, na.omit, D, deriv, constrOptim, optim)